# nixpacks.toml - Cấu hình triển khai Laravel

[phases.setup]
nixPkgs = ['php84', 'php84Extensions.pdo_mysql', 'php84Extensions.mbstring', 'php84Extensions.zip', 'php84Extensions.bcmath', 'php84Extensions.gd']

[phases.install]
cmds = [
    'composer install --no-dev --optimize-autoloader',
    'npm install',
    'npm run build'
]

# Thêm bước build để cấp quyền thực thi cho script
[phases.build]
cmds = [
    'chmod +x start.sh' # Cấp quyền thực thi
]

[start]
cmd = "./start.sh" # Chạy script